<div class="product__card">
    <h6 class="card__name">{{name}}</h6>
    <p>{{description}}</p>
    <div class="card__id"> <span>ID: {{id}}</span></div>

    <div class="card_info"><strong class="card__price">{{price}}₴</strong><a
            href="/product-edit?id={{id}}">Редагувати</a></div>
</div>